@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Welcome to my page!</h1>
	<p>This page is created with <a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>

	<p>
		Here is a live performance of Caravan by Hiromi Uehara
	</p>
	<iframe width="560" height="315"
			src="https://www.youtube-nocookie.com/embed/FC4AGdwcy-Q?si=goytVx0P1QR9eASd"
			title="YouTube video player"
			frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
			allowfullscreen>
	</iframe>

	<p class="animated-color">Mouse over This text to see the color animated</p>
</div>
